<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="~{layout.html}"
      lang="en"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Persona</title>
</head>
<body>
<section layout:fragment="content">
    <h2 class="mb-4"><i class="fa fa-user"></i> Persona: <span th:text="${persona.getNombre()}"></span></h2>
    <div class="row">
        <div class="col-md-9">
            <ul class="list-group">
                <li class="list-group-item"><strong>Cedula: </strong> <span th:text="${persona.getCedula()}"></span></li>
                <li class="list-group-item"><strong>Direccion: </strong> <span th:text="${persona.getCiudad()}"></span></li>
                <li class="list-group-item"><strong>Ciudad: </strong> <span th:text="${persona.getDireccion()}"></span></li>
            </ul>
        </div>
        <div class="col-md-3">
            <a th:href="'/clientes/personas/' + ${persona.getCedula()} + '/modificar'" class="btn btn-warning btn-block"><i class="fa fa-pencil"></i> Modificar</a>
            <!-- TODO: Crear boton para suspender un cliente -->
        </div>
    </div>
</section>
</body>
</html>